.side_bar
  .side_bar__header
    .items
      .items__name
        masa
      .items__icons
        =link_to "#",class:"contents__btn1" do
          =icon("fa","edit")
        =link_to "#",class:"contents__btn1" do
          =icon("fa","cog")
  .side_bar__groups
    .side_bar__groups-list
      .side_bar__groups-list-title
        techcamp
      .side_bar__groups-list-message
        まだメッセージはありません
